---
layout: default
title: Home
---
</div>
</div>
<!-- We've temporary closed main-content and container to have a full width intro -->
<!-- Home Jumbotron
================================================== -->
<section class="intro" style="height:70vh">
    <!--     <div class="wrapintro">
    </div> -->
</section>
<!-- We reopen main-content and container -->
<div class="container">
    <div class="main-content">
        <!-- Featured
        ================================================== -->
        <section class="featured-posts">
            <div class="section-title">
                <h2><span>Recent Project</span></h2>
            </div>
            <div class="row listfeaturedtag">
                {% for post in site.posts %}
                {% if post.featured == true %}
                {% include featuredbox.html %}
                {% endif %}
                {% endfor %}
            </div>
        </section>
        <!-- Posts Index
        ================================================== -->
        {% if paginator.previous_page %}
        {% if paginator.previous_page > 0 %}
        <div id="jumptopageof"></div>
        {% endif %}
        {% endif %}
        <section class="recent-posts row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h2><span>Lab Stories</span></h2>
                </div>
                <div class="masonrygrid row listrecent">
                    {% for post in paginator.posts %}
                    {% if post.categories contains "Blog" %}
                    {% include postbox.html %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- Button trigger modal -->
        <button id="modal1" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
            style="display: none">
            Launch demo modal
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document" style="overflow-y: initial !important">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">UX Lab 공지</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="height: 80vh; overflow-y: auto;">
                        <div style="word-break: keep-all">
                            <!-- <h5>교수의 독백</h5>
                            <p style="line-height: 180%;">
                                이중식 교수님은 한때 열심히 연구를 했는지 모르지만 요즘은 다른 일들로 바쁘다. 2020~21년에는 HCI학회장, 22~23은 문화예술원장 보직 때문이다.<br>
                                나이가 들어 연구실에서 보내는 시간도 줄었든 것 같다. 예전에는 야간에도 오피스에 계셨던 것 같은데, 지금은 데이 타임에만 학교에 있고 그나마도 오피스외의 다른
                                공간에 머무는 시간이 많다.<br>
                                연구실 규모도 많이 작아졌다. 한때 스무명이 넘는 학생들이 있었으나 풀타임 박사와 석사는 대여섯명 규모이고 인턴이 두 명씩 있다. 서로가 서로에게 배우는 협업학습이
                                연구실의 장점이었는데 그 에너지가 줄어든 셈이다.<br>
                                리빙랩은 2020년 초에 야심차게 깃발 들었지만 연구가 활발히 진행 되지는 않는다.<br>
                                <a style="font-family: sans-serif; font-size: 17px; font-weight:bold;">연구실 기조는 바뀌지 않았다. 기술보다는 기술을 사용하는 인간에 관심이 많고, 단순한 시스템 개선 보다는 활동의 동기 등을 찾아 본다. 데이터 기반으로 유저를
                                이해하려는 접근 방법도 비슷하다.</a><br>
                                이 교수는 표현이 모호하다. 그래서 학생들이 고생한다.
                            </p><br> -->
                            <h5>랩미팅 참관!</h5>
                            <p style="line-height: 180%;">
                                유엑스랩에서는 매주 목요일 10시에 랩미팅을 진행합니다. <br>
                                누구나 자유롭게
                                <a href="https://forms.gle/43BypNmXWSicYwEu7" target="_blank"
                                    style="text-decoration: underline"> 참관 신청</a>
                                하실 수 있습니다!<br>
                                참관 신청 하신 분들에게는 랩미팅 전날(수요일)에 안내 문자가 전송됩니다.<br>
                            </p> <br>
                            <h5>인턴 신청!</h5>                            
                            <!-- <p style="line-height: 180%;">
                                현재 연구실 내부 프로젝트 세팅 작업으로 인하여 당분간 인턴쉽 운영을 하지 않고 있습니다.<br>
                                인턴쉽 운영 재개시, 본 팝업을 통해 다시 안내드리도록 하겠습니다. 양해바랍니다. <br>
                            </p> <br>-->
                            <p style="line-height: 180%;">
                                유엑스랩에서는 2개월 단위로 인턴을 상시 모집하고 있습니다.<br>
                                인턴쉽을 지원하시는 분들께서는 인턴쉽 시작을 희망하시는 기간 20일 전에는 신청 부탁드립니다. (e.g. 3-4월 인턴 지원시, 2월 10일까지 신청)<br>
                                동계 인턴쉽(1-2월)과 하계 인턴쉽(7-8월)은 <a
                                    href="https://convergence.snu.ac.kr/category/convergence_research_notice/" target="_blank"
                                    style="text-decoration: underline">LINK</a>를 통해 ‘융합 연구 프로그램’ 공고를 참고해주시기 바랍니다.<br>
                                그 이외에 3-4월, 5-6월, 9-10월, 11-12월 인턴쉽을 지원하실 분께서는 <a
                                    href="https://docs.google.com/forms/d/e/1FAIpQLSdMxVzdUsO0bE15rotOCqhMHMJpiVLIF7DcvPu-kvFg8rkUyg/viewform"
                                    target="_blank" style="text-decoration: underline">신청양식</a>을 참고해 주세요.<br>
                            </p> <br>
                            <h5>로그 기반 유저 모델링</h5>
                            <p style="line-height: 180%;">
                                저희는 1) 급증하는 1인가구의 삶을 데이터로 이해하고 ICT로 돕기 위한 리빙랩 연구, 2) 스마트 스피커 등 보이스인터랙션 연구, 3) 인공지능 인터랙션
                                연구에 집중하고 있습니다. <br>저희 랩은 기술, 디자인 보다 <a
                                    style="font-family: sans-serif; font-size: 17px; font-weight:bold;">‘로그 기반의 사용자
                                    이해’</a>에 초점을 맞추고 있습니다. 유엑스랩의 연구 방향성을 설명하는 <a
                                    href="https://tangible-slip-b0c.notion.site/afd76b6a76fc49d6bcf1a7c3b9dcfa59"
                                    target="_blank" style="text-decoration: underline">문서</a>를 공유합니다. <br>연구실에 관심 있는 분들은
                                한번 살펴 보세요.
                            </p>
                            <br>
                            <h5>HCI/UX 연구실 디렉토리!</h5>
                            <p style="line-height: 180%;">
                                국내 75개 대학, 323개의 HCI 연구실을 연구 주제 별로 살펴볼 수 있는 디렉토리 사이트를 소개합니다.대학원 진학에 관심 있는 분들은 꼭 살펴봐 주세요.
                                <a href="http://labs.hcikorea.org" target="_blank"
                                    style="text-decoration: underline">‘HCI 연구실 디렉토리’</a>
                            </p>
                            <!-- <h5>리빙랩 오픈!</h5>
                            <p style="line-height: 180%;">
                                유엑스랩은 2019년 ‘1인가구와 IoT’라는 주제로 신림동에 리빙랩, <a href="https://naver.me/F64hwzzQ" target="_blank">‘혼자잘살기 연구소’</a>를 열었습니다.
                                <br>매주 화요일 저녁 7시에 모두가 참여해서 문제를 풀어보는 MeetUp이 있습니다.
                                <br>관심 있는 분들의 참여를 부탁드립니다.
                                <br><a href="https://www.instagram.com/livinglab_snu/" target="_blank" style="color: blue; text-align: right;">📸 리빙랩 인스타그램</a>
                                <br><a href="https://forms.gle/43BypNmXWSicYwEu7" target="_blank" style="color: blue; text-align: right;">🔗 MeetUp 참여 신청</a>
                            </p>
                            <h5>혼자 '잘'살기 연구소!</h5>
                            <p style="line-height: 180%;">
                                유엑스랩은 2020년 '1인가구의 삶을 위한 UX 연구'를 위해 신림동에 리빙랩을 열었습니다.
                                <br><a href="https://brunch.co.kr/@lab-livingalone" target="_blank" style="text-decoration: underline">‘리빙랩 브런치’</a>
                            </p><br><br>
                            <h5>서울대 UX Lab 랩미팅 참관!</h5>
                            <p style="line-height: 180%;">
                                매주 목요일 오전 10시에 연구실 랩미팅을 진행합니다.
                                <br>참관 가능하며 UX 대학원 연구실의 전형적인 랩미팅을 보실 수 있습니다. 대학원 진학을 위한 인턴에 관심 있으신 분들은 참관 신청서 작성 부탁드립니다.
                                <br>매주 진행되는 랩미팅의 발표 자료도 페이스북에 모아 놓았습니다.
                                <br><a href="https://forms.gle/43BypNmXWSicYwEu7" target="_blank" style="color: blue; text-align: right;">🔗 참관 신청</a>
                                <br><a href="https://www.facebook.com/userexperiencelab.pt" target="_blank" style="color: blue; text-align: right;">🔗 랩미팅 페이스북</a>
                            </p>
                            <h5>유엑수다!</h5>
                            <p style="line-height: 180%;">
                                유엑스의 다양한 분야와 전문가들을 소개하는 팟캐스트입니다.<br><a href="https://www.buzzsprout.com/266562" target="_blank" style="color: blue; text-align: right;">🔗 유엑수다</a>
                            </p><br><br>
                            <h5>랩미팅 페이스북!</h5>
                            <p style="line-height: 180%;">
                                매주 진행되는 랩미팅의 발표 자료를 공유합니다.<br><a href="https://www.facebook.com/userexperiencelab.pt" target="_blank" style="color: blue; text-align: right;">🔗 랩미팅 페이스북</a>
                            </p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Button trigger modal -->
        <button id="modal2" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2"
            style="display: none">
            Launch demo modal
        </button>
        <!-- Modal 2 --> <!-- '24.11.26 적용 이기훈-->
        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel2">UXLAB 책 발매</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="book-list">
                            <!-- Book 1 -->
                            <div class="book-item">
                                <img src="http://commbooks.com/cbhome/wp-content/uploads/2024/11/-----------------------------------------36045-20241118-700x1027.jpg" alt="인공지능과 경험의 문제">
                                <div class="book-info">
                                    <h3>인공지능과 경험의 문제</h3>
                                    <p>
                                        인공지능은 기존 컴퓨팅과 완전히 다른 방식으로 작동하기 때문에 예측하기 어렵다. 이 책은 인공지능의 등장이 가져온 새로운 상호작용을 통해 우리가 앞으로 어떻게 나아가야하는지를 깊이있게 논의한다.
                                        <br>
                                        <a href="http://commbooks.com/%EB%8F%84%EC%84%9C/%ec%9d%b8%ea%b3%b5%ec%a7%80%eb%8a%a5%ea%b3%bc-%ea%b2%bd%ed%97%98%ec%9d%98-%eb%ac%b8%ec%a0%9c/">커뮤니케이션북스</a>
                                    </p>
                                </div>
                            </div>
                            <!-- Book 2 -->
                            <div class="book-item">
                                <img src="http://commbooks.com/cbhome/wp-content/uploads/2024/10/-----------------------------36044-20241029-545x800.jpg" alt="대화형 컴퓨팅">
                                <div class="book-info">
                                    <h3>대화형 컴퓨팅</h3>
                                    <p>
                                        대화형 인터페이스(CUl)가 등장해 인간과 기계간의 소통방식이 변화하고있다. 이 책은 이러한 대화형 컴퓨팅의 이해가 인공지능 서비스를 성공적으로 디자인 하는데 필수적임을 강조한다.
                                        <br>
                                        <a href="http://commbooks.com/%EB%8F%84%EC%84%9C/%eb%8c%80%ed%99%94%ed%98%95-%ec%bb%b4%ed%93%a8%ed%8c%85/">커뮤니케이션북스</a>
                                    </p>
                                </div>
                            </div>
                            <!-- Book 3 -->
                            <div class="book-item">
                                <img src="https://image.aladin.co.kr/product/30994/87/cover500/k572831500_1.jpg" alt="1인 가구와 기술">
                                <div class="book-info">
                                    <h3>1인 가구와 기술</h3>
                                    <p>
                                        다년간의 1인가구 연구를 진행해오던 '혼자 잘살기 연구소'에서의 내용을 책으로 발간하였다. 1인가구의 삶을 데이터적으로 이해하고 ICT 기술로 해결하려던 지난 3년 동안의 시도들을 담았다.
                                        <br> 
                                        <a href="https://www.bookjournalism.com/books/58754/category/131062">북저널리즘</a>
                                    </p>
                                </div>
                            </div>
                            <div style="text-align: center;">
                                <a href="" id="modal2Close" data-dismiss="modal"> >> UXLAB 공지 확인 </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <style>
            /* Modal Body 스타일 */
            .modal-body {
                font-family: Arial, sans-serif;
                padding: 20px;
            }
        
            /* Book List 스타일 */
            .book-list {
                display: flex;
                flex-direction: column; /* 여러 책을 세로로 나열 */
                gap: 20px;
            }
        
            /* Book Item 스타일 */
            .book-item {
                display: flex; /* 이미지와 텍스트를 가로로 배치 */
                align-items: flex-start; /* 이미지와 텍스트 상단 정렬 */
                gap: 15px; /* 이미지와 텍스트 사이 간격 */
                border: 0px solid #ddd; /* 테두리 추가 */
                padding: 5px; /* 내부 여백 */
                border-radius: 5px; /* 테두리 모서리 둥글게 */
            }
        
            /* 이미지 스타일 */
            .book-item img {
                max-width: 130px; /* 이미지 너비 제한 */
                height: auto; /* 이미지 비율 유지 */
                border-radius: 5px; /* 이미지 모서리 둥글게 */
            }
        
            /* 텍스트 스타일 */
            .book-info {
                text-align: left;
            }
        
            .book-info h3 {
                font-size: 18px;
                margin: 0 0 10px 0; /* 제목 아래 간격 */
            }
        
            .book-info p {
                font-size: 16px;
                margin: 0;
                line-height: 1.5;
            }
        
            .book-info a {
                color: #007bff; /* 링크 색상 */
                text-decoration: none; /* 링크 밑줄 제거 */
            }
        
            .book-info a:hover {
                text-decoration: underline; /* 마우스 올릴 때 밑줄 표시 */
            }
        </style>
        <!-- Modal 2  #origin_code
        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel2">'1인 가구와 기술' 책 발매</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div style="word-break: keep-all">
                            <p style="line-height: 180%;">
                                안녕하세요.
                                <br>
                                신림동 고시촌의 쉐어하우스에서 1인가구 연구를 진행해오던 저희 '혼자 잘살기 연구소'에서 최근 '1인 가구와 기술'이라는 책을 발간했습니다.
                                <br>
                                1인 가구의 삶을 데이터적으로 이해하고 ICT 기술로 해결하려던 지난 3년 동안의 시도들을 담았습니다.
                                <br>
                                1인 가구에 관심 있으신 분들은 <a href="https://product.kyobobook.co.kr/detail/S000200826755">서점</a>과
                                <a href="https://www.bookjournalism.com/books/58754/category/131062">온라인(북저널리즘)</a>을 통해서
                                만나보실 수 있습니다!
                                <br>
                                감사합니다.
                                <br>
                                <img src="https://image.aladin.co.kr/product/30994/87/cover500/k572831500_1.jpg"
                                    class="center" style="border: 1px solid black">
                                <br>
                                <div style="text-align: center;">
                                    <a href="" id="modal2Close" data-dismiss="modal">>>UXLAB 공지 확인</a>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    #modal2Close {
        color: #18272F;
        position: relative;
        text-decoration: none;
    }

    #modal2Close::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background-color: #18272F;
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
    }

    #modal2Close:hover::before {
        transform-origin: left;
        transform: scaleX(1);
    }
</style>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("modal2").click();
        document.getElementById("modal2Close").addEventListener("click", function () {
            document.getElementById("exampleModal2").classList.add('hidden', 'bs', 'modal');
            document.getElementById("modal1").click();
        });
    });
    // document.addEventListener("DOMContentLoaded", function () {
    //     document.getElementById("modal1").click();
    // })
</script>
</div>
