---
layout: default
title: Home
---

</div>
</div>
<!-- We've temporary closed main-content and container to have a full width intro -->    


<!-- Home Jumbotron
================================================== -->    
<section class="intro" style="height:70vh">
<!--     <div class="wrapintro">
    </div> -->
</section>

<!-- We reopen main-content and container --> 

<div class="container">
    
    <div class="main-content">
        

        <!-- Featured
        ================================================== -->
        <section class="featured-posts">

            <div class="section-title">
                <h2><span>Recent Project</span></h2>
            </div>

            <div class="row listfeaturedtag">

            {% for post in site.posts %}

                {% if post.featured == true %}

                    {% include featuredbox.html %}

                {% endif %}

            {% endfor %}

            </div>

        </section>

        <!-- Posts Index
        ================================================== -->
         {% if paginator.previous_page %}
                {% if paginator.previous_page > 0 %}
                 <div id="jumptopageof"></div>
        {% endif %}
        {% endif %}    

        <section class="recent-posts row">

            <div class="col-sm-12">

                <div class="section-title">
                    <h2><span>Lab Stories</span></h2>    
                </div>

                <div class="masonrygrid row listrecent">

                    {% for post in paginator.posts %}

                    {% unless post.featured == true %}

                        {% include postbox.html %}

                    {% endunless %}

                    {% endfor %}

                </div> 

                

            </div>

        </section>

        <!-- Button trigger modal -->
<button id="modal1" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="display: none">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">UX Lab 인턴 모집</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
 
<div style="text-align: center; word-break: keep-all">

    <p style="line-height: 180%; display: inline-block;">
        서울대학교 융합과학기술대학원 사용자경험 연구실(UX LAB)에서 UX/HCI 연구를 함께 진행할 학부생 인턴을 모집하고자 합니다.<br><br>
        사용자경험 연구실의 인턴은 실제 UX/HCI 연구 프로젝트에 직접 참여할 수 있는 좋은 기회를 갖게 되니, 대학원 진학에 관심있는 분들의 많은 지원 바랍니다!
    </p>
    <a href="https://forms.gle/RzMCdq3uU3bckjyp7" target="_blank" style="margin: 20px auto 10px auto;">
        <img src="assets/images/internswanted.jp2" alt="인턴지원: 클릭" height="auto" width="80%" style="margin: 20px auto;"></img>
    </a>
 </div>


      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button> -->
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modal2Email" tabindex="-1" role="dialog" aria-labelledby="Close" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal2Email">랩미팅 참관신청</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
      </div>
    </div>
  </div>
</div>


<script>
document.addEventListener("DOMContentLoaded", function(){
    document.getElementById("modal1").click();
})
</script>
